@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    Satoshi, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@source "../../layout/*.liquid";
@source "../../snippets/*.liquid";
@source "../../statics/*.liquid";
@source "../../templates/*.liquid";
@source "../../src/javascripts/**/*.js";

@layer utilities {
  .transmit-range {
    @apply h-1 w-full cursor-pointer appearance-none rounded-full bg-slate-200;
  }
  .transmit-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply h-3 w-3 rounded-full bg-slate-700;
  }
  .transmit-range::-moz-range-thumb {
    @apply h-3 w-3 rounded-full border-0 bg-slate-700;
  }
  .transmit-range:focus {
    outline: none;
  }
}
