{%- comment -%}
  Channel page under a language root: `/<lang>/<channel>/`
  Lists children policies.
{%- endcomment -%}

{%- assign episode_list = page.children_in_list | order_by: '-published_at' -%}

<div class="py-8 lg:py-24">
  <div class="mx-auto px-4 sm:px-6 md:max-w-4xl md:px-4 lg:px-8 xl:px-12">
    <h1 class="text-2xl/7 font-bold text-slate-900">{{ page.link_text | presence | default: ('podcast.episodes_heading' | t) }}</h1>
    {%- if page.settings.description -%}
      <p class="mt-2 text-base/7 text-slate-700">{{ page.settings.description }}</p>
    {%- endif -%}

    {%- assign channels = site.pages['/'].children_in_list -%}
    {%- assign channels_size = channels | size -%}
    {%- if channels_size > 1 -%}
      {% render 'channel_nav', channels: channels, current_channel: page %}
    {%- endif -%}

    <div class="-mb-8">
      {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
    </div>
  </div>

  <div class="divide-y divide-slate-100 sm:mt-4 lg:mt-8 lg:border-t lg:border-slate-100">
    {% paginate_tag episode_list, as: 'episodes', per: 12 %}
      {%- for ep in episodes -%}
        {% render 'episode_entry', page: ep %}
      {%- else -%}
        <div class="mx-auto px-4 py-16 text-sm text-slate-500 sm:px-6 md:max-w-4xl md:px-4 lg:px-8 xl:px-12">
          {{ 'generic.empty' | t }}
        </div>
      {%- endfor -%}

      {% render 'paginate', paginate: paginate %}
    {% endpaginate_tag %}
  </div>
</div>

{% schema %}
  {
    "name": "t:schema.templates.channel.name",
    "thumb_url": "images/theme/index-card.png",
    "preview_image_urls": [
      "images/theme/index-card.png"
    ],
    "description": "t:schema.templates.channel.description",
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "description",
        "type": "textarea",
        "to_markdown": true,
        "label": "t:schema.templates.channel.settings.description.label"
      }
    ]
  }
{% endschema %}

